.sortByContainer{
    margin-top: 20px;
    background-color: #F6F7F8;
    height: 51px;
    display: flex;
    align-items: center;
}
.itemsText{
padding-left: 17px;
margin-top: 8px;
}
.sortByText{
padding-left: 34px;
}
.nameText{
    padding-left: 22px;

}
.showText{
    padding-left: 38px;

}
@media only screen and (min-width:768px){
.sortByContainer{
    margin-top: 415px;
    background-color: #F6F7F8;
    height: 51px;
    position: absolute;
    top: 75%;
    width: 811px;
    right: 65px;
    display: flex;
    align-items: center;
}
}
