.itemsContainer{
    margin-top: 20px;
    background-color: #F6F7F8;
    height: 51px;
    display: flex;
    align-items: center;
}
.sortByContainer{
    display: flex;
}
.itemsText{
padding-left: 17px;
}
.sortByText{
    padding-left: 34px;
    margin-top: 8px;
    padding-right: 10px;
}
.nameText{
    padding-left: 22px;

}
.showText{
    padding-left: 38px;
    margin-top: 0px;
}
@media only screen and (min-width:768px){
.itemsContainer{
    margin-top: -65px;
    background-color: #F6F7F8;
    height: 51px;
    top: 75%;
    float: right;
    width: 73%;
}
}
