.sortByContainer{
    margin-top: 20px;
    background-color: #F6F7F8;
    height: 51px;
    display: flex;
    align-items: center;
}
.itemsText{
padding-left: 17px;
margin-top: 8px;
}
.sortByText{
padding-left: 34px;
}
.nameText{
    padding-left: 22px;

}
.showText{
    padding-left: 38px;

}
@media only screen and (min-width:768px){
.sortByContainer{
    margin-top: -381px;
    background-color: #F6F7F8;
    height: 51px;
    top: 75%;
    float: right;
    width: 73%;
}
}
