.accesories_range_container{
    display: flex;
    padding: 10px;
}
.bannerImg{
    width: -webkit-fill-available;
    margin-top: 10px;
}
.rangeSliderComponent{
    margin-top: 50px;
    height: 125px;
    background-color: #F6F7F8;
    width: 165px;
    margin-left: 20px;
}
.priceTextStyle{
    text-align: left;
    margin-left: 17px;
    padding-top: 10px;
    font-weight: bold;
}
.rangerSlider_colors{
    display: flex;
}
.colorComponentStyle{
    margin-left: 30px;
    margin-top: 50px;
    height: 125px;
    background-color: #F6F7F8;
    padding-left: 15px;
    padding-top: 10px;
}
