.productsContainer{
   margin-top: 55px;
}

.productsElements{
    margin-top: 30px;
    margin-bottom: 65px;
}
.imageStyle{
    width: 125px;
    margin-left: 20px;
}
.addToCartBtn{
    height: 25px;
    font: normal normal bold 14px/17px Montserrat;
    background-color: #F6F7F8;
    border: none;
    border-radius: 4px;
    color: #123F87;
    width: 100px;
    margin-top: 20px;
    cursor: pointer;
}
.productDescription{
    margin-top: 10px;
    text-align: left;
    font: normal normal normal 10px/24px Montserrat;
    margin-left: 11px;
}
.productName{
    font-size: 13px;
    font-weight: bold;
    margin: 20px 80px 0px 80px;
}
.productPrice{
    color: darkred;
}

.noProducts{
    margin-top: 100px;
    color: red;
    font-size: 30px;
}

@media only screen and (min-width:768px){

.productsBase{
    right: 145px;
    top: 740px;
}
.productDescription{
    margin: initial;
    margin-top: 20px;
}
.productPrice{
    margin-top: 25px;
}
.productsElements{
    margin-bottom: 0px;
}
.productContent{
    display: flex;
}
.img_title{
    margin-left: 365px;
}
.productName{
    margin: initial;
}
.title_price_description_Container{
    text-align: left;
    margin-left: 30px;
}
.imageStyle{
    height: 175px;
}

}