.myAccessories{
    float: left;
    height: 260px;
    margin: 12px;
    width: 150px;
    background-color: #F6F7F8;
}
.accessoriesStyles{
    padding-left: 16px;
    padding-top: 10px;
    text-align: left;
    font: normal normal 11px/28px Montserrat;
    color: #22262A;
}
.accesoriesTitle{
    font-weight: bold;
}
.accessoriesItems{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 70px;
}
.accesoriesName{
    font-weight: bold;
}
.numbOfItems{

}