.myNavBar{
    /* display: flex; */
}
/* .rs-btn {
    color: white;
    background-color: transparent;
}
#menubutton-3{
    color: white;
    background-color: transparent;
}
.dropDownTitle{
    color: white;
    background-color: transparent;
} */