.colorFilters{
grid-template-columns: repeat(3,1fr);
    display: grid;
}
.colorStyles{
    margin-right: 10px;
    margin-bottom: 5px;
}
.colorTextStyle{
    padding-bottom: 15px;
    padding-right: 70px;
    font-weight: bold;
}
@media only screen and (min-width:768px){
    .colorFilters{
        display: flex;
        justify-content: center;
    }
    .colorStyles{
    border-radius: 50px;
    width: 30px;
    }
    .colorTextStyle{
        text-align: left;
    }
}