.myAccessories{
    margin-top: 10px;
    height: 180px;
    background-color: #F6F7F8;
    width: 165px;
    margin-left: 10px;
}
.accesoriesTitle{
    font-weight: bold;
    float: left;
    padding-left: 10px;
}
.accessoriesStyles{
    padding-top: 10px;
    font: normal normal 11px/28px Montserrat;
    color: #22262A;
    
}
.myCategoriesStyles{
    margin-top: 45px;
   
}
.bannerImg{
    width: -webkit-fill-available;
    margin-top: 10px;
}